@use '../../assets/stylesheets/colors' as *;

.fileUpload {
  padding: 16px 10px;
  text-transform: uppercase;
  display: flex;
  color: white;
  background-color: $surface-dark-30;
  width: fit-content;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  height: 40px;
  align-items: center;

  &:hover {
    background-color: $surface-dark-20;
  }
}

.fileUpload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.fileUpload p {
  margin: 0 10px 0 0;
  padding: 0;
}